:root{
    --fs-h1:6rem;
    --fs-p1:2rem;
}
body{
    padding:0;
    margin:0;
    background:rgb(33, 33, 33);
}

.main-container{
    display:grid;
    grid-template-rows: 10vh repeat(7,50vh);
    grid-template-columns:repeat(9, 1fr);
}

.header-container{
    grid-area:1/1/2/10;
    background-color:rgba(255, 255, 255, 0);
    display:grid;
    grid-template-rows:1fr;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    z-index:1;
    padding-top:20px;
}
.logo-container{
    width:5rem;
    background-image: url(img/ar-wlogo.png);
    background-size:100%;
    background-position:center;
    background-repeat:no-repeat;
    margin-left:20px;
}
.navbar-container{
    grid-area:1/6/2/8;
    display:flex;
    justify-content:space-evenly;
}
.changeBackground{
    color:rgb(255, 255, 255);
    background-color:rgba(255, 255, 255, 0);
    border:none;
    font-size:10rem;
}
.button-container{
    background-color:rgba(255, 255, 255, 0);
    border:none;
    width:3rem;
    display:flex;
    justify-content: center;

}
a{
    font-family:Ubuntu;
    font-size:30px;
    font-weight:200;
    color:white;
    background-color:rgba(255, 255, 255, 0);
    border:none;
}

.about-container{
    grid-area:1/1/4/10;
    display:grid;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr;
    grid-template-columns:1fr ;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    transition:background-image 0.5s ease-in;
}
.hero{
    grid-area:4/1/5/1;
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
}

h1{
    font-family:Ubuntu;
    font-size:var(--fs-h1);
    font-weight:300;
    color:white;
    padding:0;
    padding-left:20px;
    margin:0;
}
p{
    font-family:DM Sans;
    font-size:var(--fs-p1);
    color:rgb(255, 255, 255);
    margin:0;
    padding:0;
    padding-left:20px;
    padding-top:10px;
}
.tools{
    grid-area:5/1/6/1;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    gap:3rem;
    padding-top:2.5rem;
}
img{
    width:5rem;
}
.unreal{
    width:7rem;
}
.button-container{
    grid-area:4/1/5/1;
    justify-content:center;
    width:350px;
    position:relative;
}
.projects-container{
    grid-area:4/1/6/10;
    background-color:rgb(38, 38, 38);
    height:100vh;
    display:grid;
    grid-template-rows:1fr 6fr 1fr;
    grid-template-columns:1fr 6fr 1fr;
    background-image:url(renders/nudtvwire.png);
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    
}
.reel-container {
    grid-area: 2/2/3/3;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.video {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
.text-reel{
    grid-area:1/1/2/3;
    display:flex;
    align-items:center;
    font-size:60px;
}

.other-container{
    grid-area:6/1/9/10;
    background-color:rgb(33, 33, 33);
    display:grid;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns:1fr ;
    position:relative;
    display:flex;
    flex-direction:column;
}
.render-container{
    grid-area:2/2/9/14;
    display:grid;
    grid-gap:1rem;
    grid-template-columns:repeat(auto-fit,minmax(30rem,1fr)); 
    margin:1rem;
}
.other-container p{
    margin:1rem;
}
.cell-renders {
    grid-row:span 1;
    grid-column:span 1;
    height:100%;
    width:100%;
    overflow: hidden;
    transition: box-shadow 0.5s ease-in-out;
    border-radius:15px;
}
.cell-renders img {
    height:100%;
    width:100%;
    object-fit:cover;
    overflow:hidden;
    transition: 0.2s ease-in-out;
}
.cell-renders img:hover{
    transform: scale(1.1);
}

@media (max-width:600px){
    :root{
        --fs-h1:2rem;
        --fs-p1:.8rem;
    }
    img{
        width:3rem;
    }
    .unreal{
        width:5rem;
    }
    .logo-container{
        width:4rem;
    }
    .changeBackground{
        font-size:5rem;
    }
    .render-container{
        grid-template-columns:repeat(auto-fit,minmax(20rem,1fr)); 
    }
    .video {
        max-width:50%;
        height:auto;
    }
}   