:root {
    --font-size-h:5rem;
    --font-size-p1:1.8rem;
    --font-size-p2:1.2rem;
    --font-family: Manrope;
}
body {
    margin:0;
    font-family: var(--font-family);
}
.container {
    height:100vh;
    perspective:1px;
    transform-style: preserve-3d;
    overflow-x:hidden;
    overflow-y:auto;
}

.parallax {
    width:100vw;
    height:100vh;
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
    transform-style:preserve-3d;
}
.background {
    position:absolute;
    width:100vw;
    height:100vh;
    top:0;
    left:0;
    z-index:-1;
    transform:translateZ(-1px) scale(2);
}

.bg-1 {
    background: url("renders/render06.png") center / cover;
}
.bg-2 {
    background: url("renders/render01.png")
}

.bg-3 {
    background: url("renders/year3.1.png") center / cover;
}

.normal {
    width: 100vw;
    height: 100vh;
    background:url("renders/static1.png") center / cover;
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
    z-index:2;
}

h1 {      
    font-size:var(--font-size-h);
    color:#fff;
    z-index:3;
}
.parallax h1 {
    color:#fff;
    text-shadow: 0 10px 10px rgba(0,0,0,0.1);
}
.normal h1 {
    color:#333;
}

.section {
    width:80%;
    height:90%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;

}
.header-container{
    display:flex;
    justify-content: space-between;
    background:rgba(255, 0, 0, 0);
}
.navbar-container{
    width:25rem;
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.navbar-container a{
    font-size:var(--font-size-p1);
    color:white;  
}
.logo {
    height:4.5rem;
}
.tools-container{
    display:flex;
    justify-content:center;
    gap:5rem;
    align-items:center;
}
.tools-container img{
    height:3rem;
}
.parallax:nth-child(1) h1 {
    text-align: left;
    width:20ch;
}

.section.two {
    justify-content:center;
}
.normal:nth-child(2) h1 {
    text-align: right;   
}

.normal.container{
    background:#fff;
    position:relative;
}
.normal.container h1 {
    position:absolute;
    color:#fff;

    text-shadow: 0 10px 10px rgba(0,0,0,0.1);
}
.normal.container video{
    height:100%;
    width:100%;
    object-fit:cover;
}

/* .section.three{
    justify-content:center;
} */
.section.three h1{
    text-align: left;
    width:20ch;
}