body{
    padding:0;
    margin:0;
}
.main-container{
    display:grid;
    grid-template-rows: 10vh repeat(7,50vh);
    grid-template-columns:repeat(9, 1fr);
}

.header-container{
    grid-area:1/1/2/10;
    background-color:rgba(255, 255, 255, 0);
    display:grid;
    grid-template-rows:1fr;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    z-index:1;
}
.logo-container{
    width:200px;
    background-image: url(img/ar-wlogo.png);
    background-size:60%;
    background-position:center;
    background-repeat:no-repeat;
}
.navbar-container{
    grid-area:1/6/2/8;
    display:flex;
    justify-content:space-evenly;

}
a{
    font-family:Mango Grotesque;
    font-size:60px;
    color:white;
    background-color:rgba(255, 255, 255, 0);
    border:none;
}

.about-container{
    grid-area:1/1/4/10;
    display:grid;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    transition:background-image 0.5s ease-in;
}
.text{
    grid-area:4/1/6/5;
}

h1{
    font-family:Mango Grotesque;
    font-size:150px;
    color:white;
    padding:0;
    padding-left:40px;
    margin:0;
}
p{
    font-family:Nohemi;
    font-size:40px;
    color:rgb(255, 255, 255);
    margin:0;
    padding:0;
    padding-left:40px;
}
.tools{
    grid-area:5/3/6/5;
    display:flex;
    justify-content:space-evenly;
    align-items:flex-start
}
img{
    width:100px;
}
.unreal{
    width:130px;
}
.button-container{
    grid-area:4/6/5/7;
    display:flex;
    justify-content:center;
    width:350px;
    position:relative;

}
.changeBackground{
    font-size:200px;
    margin:0;
    padding:0;
    position:absolute;
    top:0;
}

.projects-container{
    grid-area:4/1/6/10;
    background-color:rgb(38, 38, 38);
    display:grid;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    height:100vh;
    background-image:url(renders/nudtvwire.png);
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;

}
.reel-container{
    grid-area:1/1/6/6;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.text-reel{
    grid-area:5/1/6/5;
    display:flex;
    align-items:center;
    font-size:60px;
    padding-top:150px;
}

.other-container{
    grid-area:6/1/9/10;
    background-color:rgb(33, 33, 33);
    display:grid;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;

}
.render-container{
    grid-area:2/2/9/14;
    display:grid;
    grid-gap:20px;
    grid-template-rows:1fr 1fr 1fr 1fr;
    grid-template-columns:1fr 1fr 1fr; 
}
.other-container p{
    position:absolute;
}
.cell-renders {
    grid-row:span 1;
    grid-column:span 1;
    height:100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    overflow: hidden;
    transition: box-shadow 0.3s ease;
    border-radius:15px;

}
.cell-renders img {
    height:120%;
    width:120%;
    object-fit:cover;
    overflow:hidden;
    transition: box-shadow 0.5s ease;

}
.cell-renders:hover {
    box-shadow: 0 0 10px rgb(255, 255, 255); 
}