:root{
    --font-size-h:5rem;
    --font-size-p1:2rem;
    --font-size-p2:1.2rem;
    --font-family: Manrope;
}
body{
    padding:0;
    margin:0;
    background-color:black;
    font-family: var(--font-family);
}
.main-container{
    display:flex;
    flex-direction: column;
    background-color:rgb(0, 0, 0);
}
.section{
    height: 100vh;
    padding-left:150px;
    padding-right:150px;
}
.section-container{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
#sectionOne{
    background-image:url(renders/render06.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.header-container{
    display:flex;
    justify-content: space-between;
    padding-top:40px;
}
.logo{
    height:4.5rem;
}
.navbar-container{
    width:18rem;
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.navbar-container a{
    font-size:var(--font-size-p2);
    color:white;
}
#contentOne{
    width:80ch;
    color:white;
}
#contentOne h1{
    font-size:var(--font-size-h);
    margin-bottom: 0.5rem; 
}
#contentOne p{
    font-size:var(--font-size-p1);
    margin-top: 0;
}
#contentOne button{
    font-size:var(--font-size-p2);
    padding:1rem;
    border:none;
    border-radius:2rem;
}
.tools-container{
    display:flex;
    justify-content:center;
    gap:5rem;
    align-items:center;
    padding-bottom:40px;
}
.tools-container img{
    height:3rem;
}

#sectionTwo{
    background-image:url(renders/static1.png);
    background-size: cover;
    background-position: 0% 65%;
    background-repeat: no-repeat;
}
.section-container-two{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    
}
#contentTwo{
    width:50ch;
    color:black;
    padding-left:40%;
}
#contentTwo h1{
    font-size:var(--font-size-h);
    margin-bottom: 0.5rem; 
}
#contentTwo p{
    font-size:var(--font-size-p1);
    margin-top: 0;
}
#contentTwo button{
    font-size:var(--font-size-p2);
    padding:1rem;
    border:none;
    border-radius:2rem;
    color:white;
    background-color:black;
}

#sectionThree{

}
.video-container{
    min-width: 100%;
    min-height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}
video {
    width: 100%;
    height: auto;
  }

#sectionFour{
    background-image:url(renders/render03.0.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@media (max-width:600px){

}   